<html>
    <head>
        <title>Zeus' blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Zeus' blog - Django girls tutorial</a></h1>
            </br>
            </br>
        </div>
    
        
    {% for post in posts %}
        <div>
            <p>published: {{ post.published_date }}</p>
            <h2><a href="">{{ post }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
            </br>
            <p>----------------------------</p>
        </div>
    {% endfor %}
    
    <!--
        <div>
            <p>published: February 16th, 2018</p>
            <h2><a href="">My Stupid Post</a></h2>
            <p>bleak. nothingness.</p>
        </div>
     -->   
           
    </body>
</html>